@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}

body { 
  margin:0; 
  padding:0; 
  width:100vw; 
  height:100vh; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  font-size:16px; 
}
#container { width:300px; align-self:center; }
#container h1 { padding-bottom:1.5rem; text-align:center; font-size:20px;}
#container hr { margin-bottom:1rem; }
.minisweeper-row { 
  text-align:center; 
}
.minisweeper-cell { 
  display:inline-block;
  box-sizing:border-box;
  width:11%; 
  height:100%;
  background-color:#f0f0f0;
  border:2px solid #f0f0f0; 
  color:#000; 
  line-height:1.8125;
}
.minisweeper-unrevealed { 
  border:2px outset #ececec;
  background:#c0c0c0; 
  color:#c0c0c0; 
}
#minisweeper-controls { 
  padding-top:12px;
  line-height:1.8;
}
#minisweeper-controls>div { 
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-bottom:0.75rem;
}
#container a { 
  color:#7c65c1; 
  cursor:pointer;
  border:1px solid #7c65c1;
  display:inline-block;
  padding:2px 8px; 
  border-radius:4px; 
  line-height:1.5; 
}
#container a:hover { 
  background-color:#7c65c1;
  color:#fff; 
}
#container a.centered { 
  text-align:center;
  width:100%;
}